.heading {
  color: var(--bs-white);
}

#header-box a {
  text-decoration: none;
}

.logo {
  color: #ffed3b;
}

#header-box {
  background-color: #4a3bff;
}

/* These two are for the icons retrieved from openweathermap */
.today-card .weather-icon {
  width: 30px;
}

.forecast-card .weather-icon {
  width: 20px
}


